.about-container{
    display: flex !important;
    align-items: center !important;
  }
  
  .about-img-wrapper {
    padding: 0 20px 0 0;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    &:hover{
        padding: 0 0 0 20px;
        &:after{
            background: rgba(62, 64, 72, 25%);
            left: 5px;
            top: -15px;
            right: 15px;
            bottom: 15px;
        }
    }
    &:after{
        content: "";
        background: rgba(101, 102, 109,0.25);
        position: absolute;
        left: 15px;
        right: 5px;
        top: 15px;
        bottom: -10px;
        z-index: -1;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
  }
  
  .about-content {
    padding-right: 0px;
    h3 {
        font-size: 25px;
        font-weight: 700;
      }
      h6 {
        margin: 10px 0 30px;
        color: #c3c3c3;
        font-weight: 400;
        font-size: 13px;
      }
      p {
        margin-bottom: 20px;
        &:nth-last-child(-n + 2) {
            margin-bottom: 0px;
          }
      }
  }
