.contact-area {
    background: url(../../images/other-images/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contact-information {
    margin-bottom: 15px;
  }
  
  .contact-info-title {
    padding: 0 10px;
    margin-bottom: 40px;
    h3 {
        font-size: 25px;
        font-weight: 500;
      }
  }
  
  .contact-details {
    margin-bottom: 30px;
    padding: 0px 10px;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 1;
    h6 {
        padding-bottom: 5px;
        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        padding-top: 8px;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        color: #a5a5a5;
        text-transform: capitalize;
      }
  }

.contact-area{
    & .form{
        input, textarea{
            width: 100%;
            padding: 10px 20px;
            color: #fff;
            border: 0;
            font-size: 14px;
            padding-left: 20px;
            background-color: #1b1d23;
            font-weight: 500;
            border-radius: 30px;
            text-transform: capitalize;
            border-bottom: 2px solid #1b1d23;
        }
    }
}

.contact-form {
    & .button {
    margin: 0;
  }
}
.form-group {
  margin-bottom: 25px;
}

button,
input,
textarea {
  color: #505050;
}

button,
input,
textarea{
    &:focus {
        border: none;
        outline: none;
      }
}

.contact-info-item {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.email-box,
.message-box,
.button-box{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
