$transparent: #ffffff00;
$box-shadow: rgba(0, 0, 0, 0.06);
$white: #fff;
$black: #000;
$toggle-background: #1b1b1b;
.collapse{
    display: none;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    transition: all 0.5s ease-in-out;
    background-color: $transparent;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
    & .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    &.navbar-reduce {
        box-shadow: 0px 6px 9px 0px $box-shadow;
        transition: all 0.5s ease-in-out;
        background-color: $white;
        padding-top: 20px;
        padding-bottom: 20px;
        & .nav-link {
            color: $black;
        }
        & .nav-item {
            position: relative;
            padding-right: 10px;
            padding-left: 0;
        }
        & .navbar-brand {
            color: $black;
        }
        & .navbar-toggler{
            span{
                background-color: $toggle-background;
            }
        }
    }
    &.navbar-trans{
        & .nav-item{
            position: relative;
            padding-right: 10px;
            padding-left: 0;
        }
        & .nav-link{
            color: $white;  
        }
    }
}  

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: $white;
    font-size: 30px;
    font-weight: 400;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: $transparent;
    border: 1px solid $transparent;
    border-radius: 0.25rem;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
  
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; 
    & .nav-link{
        display: block;
        padding: 0.5rem 1rem;
    }
}

.navbar-toggler {
    position: relative;
    &:focus{
        outline: none;
    }
    &:active{
        outline: none;
    }
    span{
        display: block;
        background-color: $white;
        height: 3px;
        width: 25px;
        margin-top: 4px;
        margin-bottom: 4px;
        left: 0;
        opacity: 1;
    }
  }