$white: #fff;
$pink:#d81356;
$paragraph-color: #ccc;
$dot-color: #d6d6d6;
$dot-hover-color:#869791;
.testimonial-area {
    background: url(../../images/other-images/review-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .testimonial {
    padding-bottom: 30px;
  }

  .review-box{
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial_slider{
    width:100%;
    overflow:hidden;
    box-sizing:border-box;
  }
  .testimonial_slider input {
    display: none;
  }
  
  .testimonial_slider #slide_1:checked ~ .boo_inner { margin-left:0; }
  .testimonial_slider #slide_2:checked ~ .boo_inner { margin-left:-100%; }
  .testimonial_slider #slide_3:checked ~ .boo_inner { margin-left:-200%; }
  .testimonial_slider #slide_4:checked ~ .boo_inner { margin-left:-300%; }
  .testimonial_slider .boo_inner {
    width:400%;
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
      -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
      -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
      transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  
    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
      -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
      -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
      transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
  }
  .testimonial_slider .slide_content{
    width:25%;
    float:left;
  }
  .testimonial_slider #controls {
    text-align:center;
  }
  .testimonial_slider #controls label{
    width:8px;
    height:8px;
    margin:0 2px;
    display:inline-block;
    background:$dot-color;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    cursor: pointer;
  }
  .testimonial_slider #slide_1:checked ~ #controls label:nth-child(1), 
  .testimonial_slider #slide_2:checked ~ #controls label:nth-child(2), 
  .testimonial_slider #slide_3:checked ~ #controls label:nth-child(3), 
  .testimonial_slider #slide_4:checked ~ #controls label:nth-child(4){
    background:$dot-hover-color; 
  }
  .testimonial {
    padding-bottom: 30px;
  }

  .avatar{
    text-align: center;
    margin: 0 auto;
      margin-bottom: 25px;
    img{
      border-radius: 50%;
      border: 5px solid $white;
      width: 110px;
      margin: 0 auto;
      border-left-color: $pink;
      border-bottom-color: $pink;
    }
  }

  .testimonial-bio{
    text-align: center;
    & .bio-info{
      margin-left: 10px;
      & .name{
        font-size: 18px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 5px;
      }
      span{
        font-size: 14px;
      }
    }
  }
    
    .testimonial-content {
      margin-bottom: 20px;
      text-align: center;
      h3{
        font-size: 18px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      p{
        font-size: 16px;
        color: $paragraph-color;
        font-style: italic;
        line-height: 1.8;
      }
    }