$primary-color: #2b2c30;
$white: #fff;
$background-color: #333439;
$pink: #d81356;
$text-color:#c5c5c5;
$underline-color: rgba(0, 0, 0, 0);
$underline-color-middle:rgb(165, 165, 165);
$orange-text-color: #ffc209;
$home-bg-color: rgb(3,5,16);
$about-bg-color:rgba(62, 64, 72, 25%);
$about-image-bg-color: rgba(101, 102, 109,0.25);
$single-service-bg-color: #1e1f25;
// $service-bg-color:#333439;
$border-color: #2a2b30;
$icon-bg-color: rgba(200, 200, 200, 0.07);
$orange-icon: #ff9800;
// $project-bg-color: #333439; 
$project-list-bg-color: #2b2b2b;
// $white : #fff;
$box-shadow: rgba(0, 0, 0, 0.07);
// $overlay-bg-color: rgb(0, 0, 0);
// $orange-text-color: #ffc209;
// $pink: #d81356;
$black: rgb(0,0,0);
$blur-black: rgba(0,0,0,0.5);

// $white: #fff;
// $pink:#d81356;
$paragraph-color: #ccc;
$dot-color: #d6d6d6;
$dot-hover-color:#869791;
$single-blog-color:#383940;

$contact-info-color:#a5a5a5;
$contact-form-bg-color: #1b1d23;
$input-color: #505050;


$transparent: #ffffff00;
$box-shadow: rgba(0, 0, 0, 0.06);
$toggle-background: #1b1b1b;