@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

.navbar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 991px) {
  .navbar .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar .container {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 991px) {
  .navbar .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar .navbar-nav {
    margin-top: 15px;
  }
}

@media (min-width: 991px) {
  .navbar .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (min-width: 991px) {
  .navbar .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar .navbar-collapse {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
  }
}

.navbar.navbar-trans.nav-item {
  padding-left: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar.navbar-trans.nav-item {
    position: relative;
    padding-right: 10px;
    text-align: right;
    margin-bottom: 10px;
  }
}

.navbar.navbar-reduce.nav-item {
  padding-left: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .navbar.navbar-reduce.nav-item {
    position: relative;
    padding-right: 10px;
    text-align: right;
    margin-bottom: 10px;
  }
}

@media (min-width: 991px) {
  .navbar-toggler {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-toggler {
    display: none;
  }
}

.home-area {
  background-attachment: unset;
}

@media (min-width: 320px) and (max-width: 767px) {
  .home-area {
    background-position: 25%;
  }
}

.home-area .home-content h1 {
  line-height: 1.3;
}

@media (min-width: 991px) {
  .home-area .home-content h1 {
    font-size: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home-area .home-content h1 {
    font-size: 33px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .home-area .home-content h1 {
    font-size: 28px;
  }
}

.home-text-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 991px) {
  .home-text-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.about-img-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 991px) {
  .about-img-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-img-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-img-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.about-text-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 991px) {
  .about-text-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-content {
    margin-top: 35px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-content {
    margin-top: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-img-wrapper {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-img-wrapper {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about-img-wrapper:after {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-img-wrapper:after {
    text-align: center;
    left: 25px;
    right: 5px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-img-wrapper:hover:after {
    background: #3e4048;
    top: -15px;
    right: 30px;
    bottom: 15px;
  }
}

.service-box-container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 991px) {
  .service-box-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .service-box-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .services-item {
    margin-bottom: 30px !important;
  }
}

.counter-content-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 991px) {
  .counter-content-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .counter-content-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .counter-content-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .counter-item {
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .counter-item {
    margin-bottom: 30px;
  }
}

@media (min-width: 991px) {
  .project-container-all {
    position: relative;
    height: 658.584px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-container-all {
    position: relative;
    height: 1177.29px;
  }
}

@media (min-width: 991px) {
  .project-container-brand {
    position: relative;
    height: 386.917px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-container-brand {
    position: relative;
    height: 872.292px;
  }
}

@media (min-width: 991px) {
  .project-container-web {
    position: relative;
    height: 543.334px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-container-web {
    position: relative;
    height: 741.146px;
  }
}

@media (min-width: 991px) {
  .project-container-photography {
    position: relative;
    height: 271.667px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-container-photography {
    position: relative;
    height: 610px;
  }
}

@media (min-width: 991px) {
  .project-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 991px) {
  .project-one-all,
  .project-one-web,
  .project-one-brand,
  .project-two-photography {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-one-all,
  .project-one-web,
  .project-one-brand,
  .project-two-photography {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

@media (min-width: 991px) {
  .project-two-all {
    position: absolute;
    left: 320px;
    top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-two-all {
    position: absolute;
    left: 360px;
    top: 0px;
  }
}

@media (min-width: 991px) {
  .project-three-all {
    position: absolute;
    left: 640px;
    top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-three-all {
    position: absolute;
    left: 360px;
    top: 305px;
  }
}

@media (min-width: 991px) {
  .project-three-brand,
  .project-three-web,
  .project-five-photography {
    position: absolute;
    left: 320px;
    top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-three-brand,
  .project-three-web,
  .project-five-photography {
    position: absolute;
    left: 360px;
    top: 0px;
  }
}

@media (min-width: 991px) {
  .project-four-all {
    position: absolute;
    left: 320px;
    top: 271.667px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-four-all {
    position: absolute;
    left: 0px;
    top: 436.146px;
  }
}

@media (min-width: 991px) {
  .project-four-brand,
  .project-five-web {
    position: absolute;
    left: 640px;
    top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-four-brand,
  .project-five-web {
    position: absolute;
    left: 0px;
    top: 436.146px;
  }
}

@media (min-width: 991px) {
  .project-five-all {
    position: absolute;
    left: 0px;
    top: 386.917px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-five-all {
    position: absolute;
    left: 360px;
    top: 741.146px;
  }
}

@media (min-width: 991px) {
  .project-six-all {
    position: absolute;
    left: 640px;
    top: 386.917px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-six-all {
    position: absolute;
    left: 0px;
    top: 872.292px;
  }
}

@media (min-width: 991px) {
  .project-six-web {
    position: absolute;
    left: 640px;
    top: 271.667px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-six-web {
    position: absolute;
    left: 360px;
    top: 436.146px;
  }
}

@media (min-width: 991px) {
  .project-six-photography {
    position: absolute;
    left: 640px;
    top: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .project-six-photography {
    position: absolute;
    left: 0px;
    top: 305px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrapper img {
    max-width: 80%  !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .review-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .review-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.blog-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 991px) {
  .blog-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-item {
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .blog-item {
    margin-bottom: 30px;
  }
}

.contact-info-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 991px) {
  .contact-info-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-info-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

.contact-form-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 991px) {
  .contact-form-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-form-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
}

.name-box,
.subject-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 991px) {
  .name-box,
  .subject-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .name-box,
  .subject-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .name-box,
  .subject-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.footer-box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 991px) {
  .footer-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=responsive.css.map */