@import 'mixins';

.container{
    @include breakpoint(desktop){
        max-width: 960px;
    }
    @include breakpoint(tablet){
        max-width: 720px;
    }
    @include breakpoint(phone){
        max-width: 540px;
    }@include breakpoint(largeScreen){
        max-width: 1140px;
    }

}
.navbar {
    flex-flow: row nowrap;
    justify-content: flex-start;
    & .container{
        @include breakpoint(desktop){
            flex-wrap: nowrap;
        }
        @include breakpoint(tablet){
            flex-wrap: nowrap;
        }
        @include breakpoint(phone){
            padding-right: 0;
            padding-left: 0;
        }
    }
    & .navbar-nav{
        @include breakpoint(desktop){
            flex-direction: row;
        }
        @include breakpoint(tablet){
            flex-direction: row;
        }
        @include breakpoint(phone){
            margin-top: 15px;
        }
    }
    & .nav-link {
        @include breakpoint(desktop){
            padding-right: 0.5rem;
            padding-left: 0.5rem;        
        }
        @include breakpoint(tablet){
            padding-right: 0.5rem;
            padding-left: 0.5rem;        
        }  
    }
    & .navbar-collapse{
        @include breakpoint(desktop){
            display: flex !important;
            flex-basis: auto;    
        }
        @include breakpoint(tablet){
            display: flex !important;
            flex-basis: auto;      
        }  
        @include breakpoint(phone){
            width: 100%;
            height: 250px;
            overflow-y: scroll;
        }
    }
    &.navbar-trans{
        &.nav-item {
            padding-left: 0; 
            @include breakpoint(phone){
                position: relative;
                padding-right: 10px;
                text-align: right;  
                margin-bottom: 10px;
            }
        }
    }
    &.navbar-reduce{
        &.nav-item {
            padding-left: 0; 
            @include breakpoint(phone){
                position: relative;
                padding-right: 10px;
                text-align: right;  
                margin-bottom: 10px;
            }
        }
    }
    
}

.navbar-toggler{
    @include breakpoint(desktop){
        display: none;        
    }
    @include breakpoint(tablet){
        display: none;
    }
}

.home-area{
    background-attachment: unset;
    @include breakpoint(phone){
        
        background-position: 25%;
    }
    & .home-content{
        h1{
            @include breakpoint(desktop){
                font-size: 35px;     
            }
            @include breakpoint(tablet){
                font-size: 33px;
            }
            @include breakpoint(phone){
                font-size: 28px;
            }
            line-height: 1.3; 
        }
    }
}
.home-text-box{
    flex: 0 0 100%;
    max-width: 100%;
    @include breakpoint(desktop){
        @include boxSize();    
    }

}
.about-img-box{
    @include breakpoint(desktop){
        flex: 0 0 41.666667%;
        max-width: 41.666667%;  
    }
    @include breakpoint(tablet){
        flex: 0 0 100%;
        max-width: 100%;
    }
    @include breakpoint(phone){
        flex: 0 0 100%;
        max-width: 100%;    
    }
    @include boxSize();
}
.about-text-box{
    @include breakpoint(desktop){
        flex: 0 0 58.333333%;
        max-width: 58.333333%;  
    }
    @include boxSize();
}
.about-content {
    @include breakpoint(tablet){
        margin-top: 35px;  
    }  
    @include breakpoint(phone){
        margin-top: 35px;  
    }  
  }

  .about-img-wrapper {
    @include breakpoint(tablet){
        text-align: center;
    }
    @include breakpoint(phone){
        text-align: center;    
    } 
    &:after{
        @include breakpoint(tablet){
            display: none;        }
        @include breakpoint(phone){
            text-align: center;
            left: 25px;
            right: 5px;  
        }
        
    }
    &:hover {
        &:after{
            @include breakpoint(phone){
                background: rgba(62, 64, 72, 25%);
                top: -15px;
                right: 30px;
                bottom: 15px; 
            }   
        }
    }
  }

  .service-box-container {
    @include breakpoint(desktop){
        flex: 0 0 33.333333%;
        max-width: 33.333333%;  
    }
    @include breakpoint(tablet){
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include boxSize();
  }

  .services-item {
    @include breakpoint(phone){
        margin-bottom: 30px !important;
    }  
  }
  .counter-content-box {
    @include breakpoint(desktop){
        flex: 0 0 25%;
        max-width: 25%; 
    }
    @include breakpoint(tablet){
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include breakpoint(phone){
        flex: 0 0 100%;
        max-width: 100%;
    }
    @include boxSize();
  }


  .counter-item {
    @include breakpoint(tablet){
        margin-bottom: 30px;
    }
    @include breakpoint(phone){
        margin-bottom: 30px;
    }
  }

  .project-container-all {
    
    @include breakpoint(desktop){
        position: relative;
        height: 658.584px;
    }
    @include breakpoint(tablet){
        position: relative;
        height: 1177.29px;
    }
    @include breakpoint(largeScreen){
        position: relative;
        height: 782.406px;
    }
    
  }
  .project-container-brand {
    @include breakpoint(desktop){
        position: relative;
        height: 386.917px;
    }
    @include breakpoint(tablet){
        position: relative;
        height: 872.292px;
    }
    @include breakpoint(largeScreen){
        position: relative;
        height: 460.75px;
    }
    
  } 
  .project-container-web {
    @include breakpoint(desktop){
        position: relative;
        height: 543.334px;
    }
    @include breakpoint(tablet){
        position: relative;
        height: 741.146px;
    }
    @include breakpoint(largeScreen){
        position: relative;
        height: 643.312px;
        
    }
    
  } 
  .project-container-photography {
    @include breakpoint(desktop){
        position: relative;
        height: 271.667px;
    }
    @include breakpoint(tablet){
        position: relative;
        height: 610px;
    }
    @include breakpoint(largeScreen){
        position: relative;
        height: 321.656px;
    }
  }
  .project-box {
    @include breakpoint(desktop){
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    @include breakpoint(tablet){
        flex: 0 0 50%;
        max-width: 50%;
    }
  }

  .project-one-all,
  .project-one-web,
  .project-one-brand,
  .project-two-photography {
    
    @include breakpoint(desktop){
        position: absolute;
        left: 0px;
        top: 0px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 0px;
        top: 0px;
    }
    @include breakpoint(largeScreen){
        position: absolute;
        left: 0px;
        top: 0px;
    }
  }
  
  .project-two-all{
    
    @include breakpoint(desktop){
        position: absolute;
        left: 320px;
        top: 0px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 360px;
        top: 0px;
    }
    @include breakpoint(largeScreen){
        position: absolute;
        left: 379.99px;
        top: 0px;
    }
  }

  .project-three-all{
    
    @include breakpoint(desktop){
        position: absolute;
        left: 640px;
        top: 0px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 360px;
        top: 305px;
    }
    @include breakpoint(desktop){
        position: absolute;
        left: 759.98px;
        top: 0px;
    }
  }

  .project-three-brand,
  .project-three-web,
  .project-five-photography{
    
    @include breakpoint(desktop){
        position: absolute;
        left: 320px;
        top: 0px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 360px;
        top: 0px;
    }
    @include breakpoint(largeScreen){
        position: absolute;
        left: 379.99px;
        top: 0px;
    }
  }

  .project-four-all{
    
    @include breakpoint(desktop){
        position: absolute;
        left: 320px;
        top: 271.667px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 0px;
        top: 436.146px;
    }
    @include breakpoint(largeScreen){
        position: absolute;
        left: 379.99px;
        top: 321.656px;
    }
  }

  .project-four-brand,
  .project-five-web{
    
    @include breakpoint(desktop){
        position: absolute;
        left: 640px;
        top: 0px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 0px;
        top: 436.146px;
    }
    @include breakpoint(largeScreen){
        position: absolute;
        left: 759.98px;
        top: 0px;
    }
  }

  .project-five-all{
    @include breakpoint(desktop){
        position: absolute;
        left: 0px;
        top: 386.917px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 360px;
        top: 741.146px;
    }
    @include breakpoint(largeScreen){
        position: absolute;
        left: 0px;
        top: 460.75px;
    }
  }

  .project-six-all{
    
    @include breakpoint(desktop){
        position: absolute;
        left: 640px;
        top: 386.917px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 0px;
        top: 872.292px;
    }
    @include breakpoint(largeScreen){
        position: absolute;
        left: 759.98px;
        top: 460.75px;
    }
  }

  .project-six-web{
    
    @include breakpoint(desktop){
        position: absolute;
        left: 640px;
        top: 271.667px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 360px;
        top: 436.146px
    }
    @include breakpoint(largeScreen){
        position: absolute;
        left: 759.98px;
        top: 321.656px;
    }
  }
  .project-six-photography{
    
    @include breakpoint(desktop){
        position: absolute;
        left: 640px;
        top: 0px;
    }
    @include breakpoint(tablet){
        position: absolute;
        left: 0px;
        top: 305px;
    }
    @include breakpoint(largeScreen){
        position: absolute;
        left: 759.98px;
        top: 0px;
    }
  }

  .wrapper {
     img {
        @include breakpoint(phone){
            max-width: 80%  !important;
        }
       
     }
 }
  .review-box {
    @include breakpoint(tablet){
        flex: 0 0 100%;
        max-width: 100%;
        @include boxSize();
    }
    @include breakpoint(phone){
        flex: 0 0 100%;
        max-width: 100%;
        @include boxSize();
    }
  }

  .blog-box {
    @include breakpoint(desktop){
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    @include breakpoint(tablet){
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include boxSize();
  }

  .blog-item {
    @include breakpoint(tablet){
        margin-bottom: 30px;;
    }
    @include breakpoint(phone){
        margin-bottom: 30px;
    }   
  }
  

  .contact-info-box {
    @include breakpoint(desktop){
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
    }
    @include breakpoint(tablet){
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
    }
    @include boxSize();
  }

  .contact-form-box {
    @include breakpoint(desktop){
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    @include breakpoint(tablet){
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    @include boxSize();
  }

  .name-box,
  .subject-box {
    @include breakpoint(desktop){
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include breakpoint(tablet){
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include breakpoint(phone){
        flex: 0 0 100%;
        max-width: 100%;
    }
    @include boxSize();
  }

  .footer-box {
    @include breakpoint(desktop){
        flex: 0 0 100%;
        max-width: 100%;
    }
    @include breakpoint(tablet){
        flex: 0 0 100%;
        max-width: 100%;
    }
    @include boxSize();
  }



  
