@mixin breakpoint($point) {
  @if $point == phone {
    @media (min-width: 320px) and (max-width: 767px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 991px) {
      @content;
    }
  } @else if $point == largeScreen {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin boxSize() {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
