body {
  font-family: "IranSans", "IranSansNumbers";
  background: #2b2c30;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  color: #ffffff;
  line-height: 1.3;
}

a {
  color: #d81356;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out 0s;
}

img {
  width: 100%;
}

p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #c5c5c5;
  line-height: 24px;
}

a:hover {
  color: #d81356;
  transition: all 0.4s ease-in-out 0s;
}

a:hover,
a:focus {
  color: #d81356;
  text-decoration: none;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button {
  display: inline-block;
  padding: 8px 30px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 500;
  border: 2px solid #d81356;
  border-radius: 30px;
  background: #d81356;
  transition: all 500ms ease;
  cursor: pointer;
  color: #fff;
  margin-top: 25px;
}

.button:hover {
  color: #fff;
  background: transparent;
  border: 2px solid #d81356;
}

.home-content h1 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h3 {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 500;
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

/* .navbar .container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
} */

.navbar {
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex !important;
  flex-basis: auto;
  flex-wrap: nowrap;
  z-index: 1030;
  flex-direction: row;
  height: 50px;
  width: 100%;
  color: white;
}

/* .navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
} */

.navbar-item {
  margin-left: 20px;
  padding: 10px 10px;
  position: relative;
  color: white;
  display: inline;
}

.navbar-item a {
  display: block;
  text-decoration: none;
  /* color: white; */
}

.navbar-brand {
  color: white;
  float: left;
}

.navbar .container .navbar-brand {
  color: white;
  font-size: 26px;
  font-weight: 400;
  font-family: "Lobster", cursive;
}

.color-text {
  color: #ffc209;
}

header {
  background-image: url("../images/other-images/home-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  z-index: 1;
  padding-bottom: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 470px;
  width: 100%;
  height: 100%;
  text-align: right;
  opacity: 1;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.cd-headline.clip span {
  display: inline-block;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0px;
}

.cd-headline.clip .cd-words-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline.clip b.is-visible {
  opacity: 1;
}

.social-media a {
  display: inline-block;
  padding: 0px 5px;
  margin: 0px 10px;
  color: #fff;
}

.social-media a:hover {
  opacity: 0.5;
}

.padding-section {
  padding: 100px 0px;
}

section {
  display: block;
}
.title h2 {
  position: relative;
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  transition: all 0.4s;
}
.title h2:after {
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgb(165, 165, 165),
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  content: "";
  margin: 0 auto;
}

.title {
  margin-bottom: 75px;
  text-align: center;
}

#about {
  background-color: rgb(48, 44, 52);
  width: 100%;
}

.about-image {
  bottom: -15px;
  /* padding: 0 10px 10px 0; */
  margin-bottom: 20px;
  position: relative;
  transition: all 0.4s;
}

.about-image img {
  bottom: -15px;
  /* padding: 0 10px 10px 0; */
  height: 100%;
  position: relative;
  transition: all 0.4s;
}

.about-image:hover {
  padding: 10px 0 0 10px;
}

.about-text-orange {
  color: rgb(255, 194, 9);
}

.about-text {
  color: white;
  margin-top: 5%;
  padding: 0px 40px;
}

.about-text h3 {
  font-size: 25px;
  font-weight: 700;
}

.about-text h6 {
  margin: 10px 0 30px;
  color: #c3c3c3;
  font-weight: 400;
  font-size: 13px;
}

.about-text .first-paragraph {
  margin-bottom: 20px;
}

#service {
  background-color: rgb(51, 52, 57);
  height: 100%;
  width: 100%;
}

.service-item {
  margin-bottom: 30px;
}

.service-box {
  position: relative;
  padding: 45px 25px;
  background-color: #1e1f25;
  text-align: center;
  border-radius: 3px;
  margin: 0 10px;
}

.service-box:before {
  position: absolute;
  content: "";
  left: 0px;
  right: 0px;
  bottom: 0;
  min-width: 100%;
  border-top: 2px solid #d81356;
  transform: scaleX(0);
  transition: all 500ms ease;
}

.service-box:hover:before {
  transform: scaleX(1);
}

.service-icon {
  margin-bottom: 25px;
}

.service-icon i {
  color: #fff;
  font-size: 40px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  display: inline-block;
  position: relative;
  transition: all 0.4s;
  z-index: 3;
}

.service-icon i:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  background: rgba(200, 200, 200, 0.07);
  z-index: -1;
  transform: rotate(45deg);
  transition: all 0.4s;
  border: 0.1px solid #2a2b30;
  transition: all 0.5s;
  transform: scale(1.1);
}

.service-box:hover .service-icon i {
  color: #fff;
}

.service-box:hover .service-icon i:after {
  background: #d81356;
  border: 0.1px solid #d81356;
  transform: scale(0.98);
}

.service-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 500;
}

#bar {
  background: url("../images/other-images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bar-box {
  text-align: center;
}

.bar-item i {
  color: #ff9800;
  font-size: 50px;
}

.bar-item h3 {
  margin-top: 5px;
  color: #ffffff;
  font-size: 38px;
  font-weight: 700;
  display: block !important;
}

.bar-item p {
  line-height: 1.5;
  color: #fff;
  margin-top: 8px;
  font-size: 15px;
  font-weight: 400;
}

#project {
  background-color: rgb(51, 52, 57);
}

.project-buttons {
  max-width: 100%;
  text-align: center;
}
#project .project-buttons .nav {
  display: inline-block;
  margin: 0;
  position: relative;
  list-style: none;
}

#project .project-buttons .nav li {
  position: relative;
  font-size: 14px;
  line-height: 15px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  display: inline-block;
  margin: 0 15px 20px;
  padding: 10px 20px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #2b2b2b;
  transition: all 0.5s ease-in-out 0s;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.07);
}

#project .project-buttons .nav li:hover,
#project .project-buttons .nav li.filter-active {
  color: #fff;
  background: #d81356;
  transition: all 0.5s ease-in-out 0s;
}

#project .project-grid-item {
  overflow: hidden;
}

.project-grid-item img {
  width: 100%;
}

.project-item {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.project-item .project-img-overlay {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  height: auto;
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(10px);
  background-color: rgba(0, 0, 0, 0.9);
}
.project-item:hover .project-img-overlay {
  opacity: 1;
  transform: translateY(0);
}

.project-item .project-img-overlay .project-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 2;
  transition: 0.5s;
  overflow: hidden;
}

.project-item .project-img-overlay .project-content h4 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 10px;
  position: relative;
  margin-bottom: 10px;
  transform: translateY(-15px);
  opacity: 0;
  z-index: 7;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  line-height: 1.3;
}

.project-item .project-img-overlay .project-content h6 {
  color: #ffc209;
  margin-top: 5px;
  font-size: 14px;
  letter-spacing: 0.9px;
  position: relative;
  font-weight: 500;
  transform: translateY(15px);
  opacity: 0;
  z-index: 7;
  transition: all 0.6s;
}
.project-item:hover .project-img-overlay .project-content h4,
.project-item:hover .project-img-overlay .project-content h6 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.bottom-button-wrapper {
  max-width: 100%;
}

.bottom-button {
  margin-top: 30px;
  text-align: center;
}

#review {
  background: url("../images/other-images/review-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.review-wrapper {
  position: relative;
  background: transparent;
  padding: 20px 30px;
  border-radius: 3px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.review-item {
  text-align: center;
}

.review-item .review-image {
  margin: 0 auto;
  margin-bottom: 25px;
}
.review-item .review-image img {
  border-radius: 50%;
  border: 5px solid #ffffff;
  width: 110px;
  margin: 0 auto;
  border-left-color: #d81356;
  border-bottom-color: #d81356;
}

.review-item .review-info-wrapper .review-info h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px;
}

.review-item .review-info-wrapper .review-info span {
  font-size: 14px;
}

.review-item .review-content {
  margin-bottom: 20px;
  text-align: center;
}

.review-item .review-content p {
  font-size: 16px;
  color: #ccc;
  font-style: italic;
  line-height: 1.8;
  letter-spacing: 1px;
}

#blog {
  background-color: rgb(51, 52, 57);
}

.blog-item {
  background: #383940;
  border-bottom: 2px solid #d81356;
  margin: 15px;
  color: white;
  position: relative;
}

#blog .blog-image {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
#blog .blog-item img {
  transition: all 0.5s;
}
#blog .blog-item:hover img {
  transform: rotate(3deg) scale(1.1, 1.1);
}

#blog .blog-item .blog-content {
  padding: 30px 25px;
}

.blog-date {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  background: #d81356;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  z-index: 2;
  text-transform: uppercase;
}
.blog-date i {
  font-size: 20px;
  font-style: normal;
  display: block;
}

#blog .blog-item .blog-content h5 a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
  display: block;
}

.blog-bottom-text-link {
  margin-top: 0px;
}
.blog-item .blog-content .blog-bottom-text-link a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
}

#contact {
  background: url("../images/other-images/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form form {
  display: flex;
  flex-wrap: wrap;
}
.contact-content .contact-info .contact-title {
  padding: 0 10px;
  margin-bottom: 40px;
}

.contact-info .contact-title h3 {
  font-size: 25px;
  font-weight: 500;
}

.more-contact {
  text-align: right;
  margin-bottom: 30px;
  padding: 0px 10px;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.more-contact h6 {
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  padding-top: 8px;
}

.more-contact p {
  font-weight: 500;
  font-size: 14px;
  color: #a5a5a5;
  text-transform: capitalize;
}

#contact .contact-form form input,
#contact .contact-form form textarea {
  padding: 10px 20px;
  color: #fff;
  border: 0;
  margin-right: 20px;
  font-size: 14px;
  padding-left: 20px;
  background-color: #1b1d23;
  font-weight: 500;
  border-radius: 30px;
  text-transform: capitalize;
  border-bottom: 2px solid #1b1d23;
}

.zero-line input {
  width: 100%;
}
.first-line input {
  width: 100%;
}
.second-line input {
  width: 100%;
}
.third-line textarea {
  width: 100%;
  height: 100px;
}

.contact-form .button {
  margin: 0;
  width: 140px;
  margin-right: 20px;
}

.form-item-wrapper {
  margin-bottom: 25px;
  margin-left: 10px;
}

button,
input,
textarea {
  color: #505050;
}

button,
input,
textarea:focus {
  border: none;
  outline: none;
}

#footer-section {
  padding: 50px 0;
}
.social-media-icons {
  margin-bottom: 20px;
}
.social-media-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 16px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 3;
}

.social-media-icons a:after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.07);
  z-index: -1;
  -webkit-transform: rotate(45deg) scale(1.1);
  transform: rotate(45deg) scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.social-media-icons a:hover {
  color: #fff;
}
.social-media-icons a:hover:after {
  background: #d81356;
  transform: rotate(45deg) scale(0.98);
}
.text-area {
  text-align: center;
}
.text-area p {
  color: #fff;
}

.text-area p a {
  color: #d81356;
  font-weight: 500;
}
