@media only screen and (min-width: 991px) {

  .project-container-all {
    position: relative;
    height: 658.584px;
  }
  .project-container-brand {
    position: relative;
    height: 386.917px;
  }
  .project-container-web {
    position: relative;
    height: 543.334px;
  }

  .project-container-photography {
    position: relative;
    height: 271.667px;
  }

  .project-box {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: absolute;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .project-one-brand{
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .project-one-all {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .project-one-web {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .project-two-all {
    position: absolute;
    left: 320px;
    top: 0px;
  }

  .project-two-photography {
    position: absolute;
    left: 0px;
    top: 0px;
  } 

  .project-three-brand{
    position: absolute;
    left: 320px;
    top: 0px;
  }

  .project-three-web{
    position: absolute;
    left: 320px;
    top: 0px;
  }

  .project-three-all {
    position: absolute;
    left: 640px;
    top: 0px;
  }

  .project-four-brand{
    position: absolute;
    left: 640px;
    top: 0px;
  }
  .project-four-all {
    position: absolute;
    left: 320px;
    top: 271.667px;
  }
  .project-five-web {
    position: absolute;
    left: 640px;
    top: 0px;
  }
  .project-five-all {
    position: absolute;
    left: 0px;
    top: 386.917px;
  }
  .project-five-photography {
    position: absolute;
    left: 320px;
    top: 0px;
  }

  .project-six-web {
    position: absolute;
    left: 640px;
    top: 271.667px;
  }
  .project-six-all {
    position: absolute;
    left: 640px;
    top: 386.917px;
  }

  .project-six-photography {
    position: absolute;
    left: 640px;
    top: 0px;
  }

}
