@media (min-width: 320px) and (max-width: 767px) {
  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
    text-align: right;
  }

  .navbar-expand-md > .container {
    padding-right: 0;
    padding-left: 0;
  }

  #navbarDefault {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
  }

  .navbar-nav {
    margin-top: 15px;
  }

  .navbar-b .nav-item {
    margin-bottom: 10px;
  }

  .home-area {
    background-attachment: unset;
    background-position: 25%;
  }
  .container {
    max-width: 540px;
  }

  .home-area .home-content h1 {
    font-size: 33px;
    line-height: 1.3;
  }

  .home-text-box {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
} */
  .about-img-box {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .about-text-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .about-img-wrapper {
    text-align: center;
  }
  .about-img-wrapper:after {
    text-align: center;
    left: 30px;
    right: 20px;
    /* top: 15px; */
    
  }

  .about-img-wrapper:hover:after {
    background: rgb(62 64 72 / 25%);
    left: 20px;
    top: -15px;
    right: 30px;
    bottom: 15px;
  }

  .about-content {
    margin-top: 35px;
  }
  .service-box-container {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .services-item {
    margin-bottom: 30px !important;
  }

  .counter-item {
    margin-bottom: 30px;
  }
  .counter-content-box {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .project-buttons {
    flex: 0 0 100%;
    max-width: 100%;
  }
 
  .blog-item {
    margin-bottom: 30px;
  }

  .blog-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .review-box {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .contact-info-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .contact-form-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .name-box,
  .subject-box {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .email-box {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .message-box {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .button-box {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
