@media only screen and (min-width: 768px) and (max-width: 991px) {
  .project-container-all {
    position: relative;
    height: 1177.29px;
  }
  .project-container-brand {
    position: relative;
    height: 872.292px;
  } 
  .project-container-web {
    position: relative;
    height: 741.146px;
  } 
  .project-container-photography {
    position: relative;
    height: 610px;
  }

  .project-box {
    flex: 0 0 50%;
    max-width: 50%;
    position: absolute;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .project-one-all {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .project-one-brand {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .project-one-web {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .project-two-all {
    position: absolute;
    left: 360px;
    top: 0px;
  }
  .project-two-photography {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .project-three-brand {
    position: absolute;
    left: 360px;
    top: 0px;
  }
  .project-three-web {
    position: absolute;
    left: 360px;
    top: 0px;
  }
  .project-three-all {
    position: absolute;
    left: 360px;
    top: 305px;
  }
  .project-four-brand {
    position: absolute;
    left: 0px;
    top: 436.146px;
  }
  .project-four-all {
    position: absolute;
    left: 0px;
    top: 436.146px;
  }
  .project-five-photography {
    position: absolute;
    left: 360px;
    top: 0px;
  }
  .project-five-all {
    position: absolute;
    left: 360px;
    top: 741.146px;
  }
  .project-five-web {
    position: absolute;
    left: 0px;
    top: 436.146px;
  }

  .project-six-web {
    position: absolute;
    left: 360px;
    top: 436.146px;
  }
  .project-six-all {
    position: absolute;
    left: 0px;
    top: 872.292px;
  }
  .project-six-photography {
    position: absolute;
    left: 0px;
    top: 305px;
  }

}
